@page
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>goodbye</title>
</head>
<body>
    <h1>Goodbye from the goodby.cshtml file</h1>

    <h1>tHe time is @DateTime.Now.ToString("HH:mm:ss")</h1> 
    
</body>
</html>
