@page
@model APPdev.pages.taghelpplayModel
@addTagHelper*,Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>taghelpplay</title>
</head>
<body>

    <form method="post">
        <fieldset>
            <legend>Seasons </legend>
            <label for="Winter">
                <input value="Winter" id="Winter" type="radio" asp-for="Season">Winter
            </label>
            <br />
            <label for="Summer">
                <input value="Summer" id="Summer" type="radio" asp-for="Season">Summer
            </label>
            <br />
            <label for="Spring">
                <input value="Spring" id="Spring" type="radio" asp-for="Season">Spring
            </label>
            <br />
            <label for="Autumn">
                <input value="Autumn" id="Autumn" type="radio" asp-for="Season">Autumn
            </label>

        </fieldset>

        <button type="submit">Please click</button>
        <p>@Model.Message</p>
    </form>
    <p>@Model.Message</p>





</body>
</html>
